* {
    margin: 0;
}

.menu {
    width: 100%;
    height: 587px;    
    background-image: url(img/R.jpg);    
}

.logo {
    width: 60%;
    height: 100px;    
    float: left;
}

.logo img {
    position: absolute;
    top: 29px;
    left: 69px;
    width: 150px;
}

.list {
    width: 40%;
    height: 100px;
    overflow: hidden;
}

.list li {
    display: inline-block;
    margin: 10px;
    margin-top: 30px;    
}

.list li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
}

.text {
    width: 50%;
    height: 396px;
    margin-left: 123px;
}
.text h1 {
    font-size: 70px;
    color: aliceblue;
    padding-top: 60px;
}
.text p {
    font-size: 26px;
    color: aliceblue;
    padding: 5px 0;
}

.text a {
    background-color: #FFD11E;
    padding: 13px;
    border-radius: 25px;
    display: inline-block;
    margin: 59px 81px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.text img {
    position: absolute;
    top: 191px;
    left: 803px;
}


.content {
    width: 80%;
    height: 479px; 
    background-color: #E9E9E9;
    margin: 0 auto;
    position: relative;   
}

.lite {
    background-color: white;
    width: 270px;
    height: 344px;
    position: absolute;    
    top: 72px;
    left: 83px;
}

.lite img {
    width: 270px;
    height: 164px;
}


.lite h3 {
    font-size: 23px;
    margin-left: 22px;
    padding: 5px;
    margin-top: 20px;
}

.lite p {
    width: 212px;
    margin-left: 22px;
    padding: 5px;
    text-align: justify;
}

.phone {
    background-color: white;
    width: 270px;
    height: 344px;
    position: absolute;
    top: 72px;
    left: 401px;
}

.phone img {
    width: 270px;
    height: 164px;
}

.phone h3 {
    font-size: 23px;
    margin-left: 22px;
    padding: 5px;
    margin-top: 20px;
}

.phone p {
    width: 212px;
    margin-left: 22px;
    padding: 5px;
    text-align: justify;
}

.watch {
    background-color: white;
    width: 270px;
    height: 344px;
    position: absolute;
    top: 72px;
    left: 724px;
}

.watch img {
    width: 270px;
    height: 164px;
}

.watch h3 {
    font-size: 23px;
    margin-left: 22px;
    padding: 5px;
    margin-top: 20px;
}

.watch p {
    width: 212px;
    margin-left: 22px;
    padding: 5px;
    text-align: justify;
}

.content-2nd{
    width: 80%;
    height: 459px;    
    margin: 0 auto;
    position: relative;
}

.content-2nd img {
    width: 520px;    
    /*! position: absolute; */
}

.text-2nd {
    width: 456px;
    height: 332px;
    position: absolute;    
    top: 49px;
    left: 588px;
}

.text-2nd h5 {
    text-transform: uppercase;
    padding: 5px;
    
}

.text-2nd h5:before {    
    content: '';    
    background-color: #FFC400;
    height: 5px;
    position: absolute;
    top: -5px;
    left: 5px;
    width: 40px;
}
.text-2nd h1 {
    font-size: 40px;
    padding: 5px;
    margin-bottom: 7px;
}

.text-2nd p {
    padding: 5px;
    text-align: justify;
}

.text-2nd a {
    background-color: #FFD11E;
    padding: 15px;
    border-radius: 31px;
    display: inline-block;
    margin: 31px 18px;
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-style: italic;
}

.content-3rd{
    width: 80%;
    height: 550px;    
    margin: 0 auto;
    background-image: url(img/R.jpg);
    position: relative;
}

.symbol {
    color: #FFD11E;
    font-size: 83px;
    position: absolute;
    top: 207px;
    left: 12px;
}

.symbol2 {
    color: #FFD11E;
    font-size: 83px;
    position: absolute;
    top: 207px;
    left: 980px;
}

.text-3rd {
    position: absolute;
    top: 39px;
    left: 100px;
}

.text-3rd h5 {
    font-size: 10px;
    text-transform: uppercase;
    color: #FFC400;
}

.text-3rd h5:before {    
    content: '';    
    background-color: #FFC400;
    height: 5px;
    position: absolute;
    top: -8px;
    left: 1px;
    width: 40px;
}

.text-3rd h1 {
    color: white;
}

.text-3rd a {
    background-color: #FFD11E;
    padding: 15px;
    border-radius: 25px;
    display: inline-block;
    margin: 360px 51px;
    text-decoration: none;
    color: black;
    font-size: 21px;
}

.im1 img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 129px;
    left: 106px;
}

.im2 img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 129px;
    left: 413px;    
}

.im3 img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 129px;
    left: 722px;
}

.content-4th{
    width: 80%;
    height: 550px;    
    margin: 0 auto;
    background-color: #E9E9E9;
    position: relative;
}

.text-4th {
    margin: 100px;
    position: absolute;
    width: 36%;
    float: left;   
}

.text-4th h5 {
    font-size: 10px;
    text-transform: uppercase;    
}

.text-4th h5:before {    
    content: '';    
    background-color: #FFC400;
    height: 5px;
    position: absolute;
    top: -8px;
    left: 1px;
    width: 40px;
}

.text-4th h1 {
    font-size: 50px;
    margin-bottom: 30px;        
}

.text-4th p {
    text-align: justify;
  }

.text-4th a {
    background-color: #FFD11E;
    padding: 15px;
    border-radius: 23px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 19px;
    position: absolute;
    top: 309px;
}

.text-4th-1 {
    overflow: hidden;
}

.pic1{
    width: 223px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 55px;
    right: 321px;    
}

.pic1 img {
    position: absolute;
    top: 13px;
    left: 14px;
}

.pic1 h3 {
    margin: 20px;
    margin-top: 91px;
}

.pic1 p {
    margin: 20px;
    text-align: justify;
}
.pic2{
    width: 223px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 55px;
    right: 72px;    
}

.pic2 img {
    position: absolute;
    top: 13px;
    left: 14px;
}

.pic2 h3 {
    margin: 20px;
    margin-top: 91px;
}

.pic2 p {
    margin: 20px; 
    text-align: justify;   
}

.pic3{
    width: 223px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 280px;
    right: 321px;    
}

.pic3 img {
    position: absolute;
    top: 13px;
    left: 14px;
}

.pic3 h3 {
    margin: 20px;
    margin-top: 91px;
}

.pic3 p {
    margin: 20px;
    text-align: justify;
}

.pic4{
    width: 223px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 280px;
    right: 72px;    
}

.pic4 img {
    position: absolute;
    top: 13px;
    left: 14px;
}

.pic4 h3 {
    margin: 20px;
    margin-top: 91px;
}

.pic4 p {
    margin: 20px;
    text-align: justify;
}

.footer-area {
    width: 80%;
    height: 217px;    
    margin: 0 auto;
    background-color: black;    
    text-align: center;
    position: relative;
}

.footer-area h1 {
    color: white;
    padding-top: 42px;
    font-size: 30px;
}

.footer-area a {
    background-color: #FFD11E;
    padding: 12px;
    border-radius: 23px;
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 18px;  
    margin-top: 28px;
}
